<% unless current_page.last?  %>
<li class="page-item">
  <%= link_to url, remote: remote, class: 'page-link' do %>
    <span class="title"><%=  t('views.pagination.next') %></span>
  <% end %>
</li>
<% end %>
